.order {
    color: white;
    text-align: center;
    margin: 0;
    border: 0;
    background: black;
    width: 100%;
    height: 50px;
    padding-top: 13px;
    font-size: 30px;
}

.button_order {
    padding-top: 13px;
    margin-top: 20px;
    width: 90%;
    height: 50px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fcfcfc), color-stop(1, #ececec));
    margin-left: 5%;
    border-radius: 6px;
    display: block;
    font-size: 25px;
    text-align: center;
    color: black;
}

.button_order:hover {
    background: #ccc;
}

.button_ensure {
    border: 1px solid #e3e3e3;
    padding-top: 13px;
    width: 90%;
    height: 50px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fcfcfc), color-stop(1, #ececec));
    margin-left: 5%;
    border-radius: 6px;
    display: block;
    font-size: 25px;
    text-align: center;
    color: black;
}

.button_ensure:hover {
    background: #ccc;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
}

.back {

    margin-top: 3px;
    border-radius: 4px;
    display: list-item;
    background:#333;
    left:0;
    top: 30px;
    position: absolute;
    width: 60px;
    height: 30px;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 100;
}

input {
    width: 90%;
    height: 30px;
    margin-left: 5%;
    background: white;
}

.cssstyle {
    margin-left: 65px;
    margin-top: 20px;
    margin-bottom: 10px
}


.css_button_style{
padding-top: 15px;
background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fcfcfc), color-stop(1, #ececec));
width: 100%;
height: 50px;

border-radius: 8px;
display: block;
font-size: 25px;
color:#08c;

float: left;

}
.choose-style{
    padding-top: 15px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fcfcfc), color-stop(1, #ececec));
    width: 100%;
    height: 80px;
    background-color: #ececec;
    border-radius: 8px;
    display: block;
    /*font-size: 25px;*/
    /*color:cyan;*/

    float: left;
}
.choose_button_style{
    width: 100%;
    height: 50px;
    background-color: beige
}
.choose_food_button_style{
    width: 100%;
    height: 80px;
    background-color: beige
}
.css_font_style{
    color:#08c;
    font-size: 25px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.same_body{
    color: black;
    position: absolute;
    float:left;
    margin-left: 10px;
    margin-top: 55px;
}



.css_font_style:hover{
    color: #005580;
}
.top_distance{
    margin-top: 30px;
}
.price_distance{
    margin-top: 15px;

}
.font_distance{
    margin-left: 65px;
    margin-top: 15px;
    margin-bottom: 10px;
}
a:link {
    text-decoration:none;
}
.input_font{
    font-size: 20px;
    border: 1px solid #e3e3e3;
}
.num{


    background: #6aa8d3;
    color: white;
    height: 40px;
    font-size: 20px;
    padding-top: 10px;
   border: solid 1px black;
}
.someone{

    width: 100%;
    background: lightgray;
    height: 90px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fcfcfc), color-stop(1, #ececec));
}

.last{
    background: black;
    color: white;
    height: 50px;
    text-align: center;
    font-size: 20px;
    padding-top: 16px;
}

ul#menu li {

    display: inline;
}
/*ul#order li {*/

    /*display: inline;*/
/*}ul#flog li {*/

     /*display: inline;*/
 /*}*/
/*ul#lop li {*/

    /*display: inline;*/
/*}*/
/*ul#lok li {*/

    /*display: inline;*/
/*}*/
/*li#lpo {*/

    /*display: inline;*/
/*}*/
/*li#lpo-li {*/

    /*display: inline;*/
/*}*/
/*li#li-lpo {*/

    /*display: inline;*/
/*}*/

/*li#show {*/

    /*display: inline;*/
/*}*/
/*ul#menu li a {*/
    /*background-image: -webkit-gradient(linear,0 0, 0 100%,  color-stop(0, #fcfcfc), color-stop(1, #ececec));*/
    /*color: black;*/
    /*padding: 10px 20px;*/
    /*text-decoration: none;*/
    /*border-radius: 4px 4px 0 0;*/
    /*width: 90%;*/
    /*height: 50px;*/
/*}*/

ul#menu li a:hover {
    background-color: #b3b3b3;
}
.apper{
    display: inline;
}
.choose{
    height: 50px;
    width: 90%;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fcfcfc), color-stop(1, #ececec));
    padding: 15px 550px;
    margin-left: 2%;
    color: black;
    font-size: 22px;
    text-align: center;
    border-radius: 6px;
}
.choose:hover {
    background: #ccc;
}
.distance{
    margin-top: 40px;
}
.distan{
    margin-top: 27px;
}
.return{
    margin-right: 40px;
    color: black;
    font-weight: 300;
    font-size: 25px;
    float: right;
    padding-top: 30px;
}
.return-na{
    margin-top: 10px;
    margin-left: 25px;
    color: black;
    font-weight: 300;
    font-size: 25px;
    float: left;
    position: absolute;
}
.return-pr{
    float: left;
    font-weight: 100;
    font-size:16px;

    margin-left: 25px;
    padding-top: 63px;
}
.per_no{
    float: left;
    font-weight: 100;
    font-size:25px;

    margin-left: 25px;
    padding-top: 40px;
}
